header {
  border-bottom: 3px solid #000000;
  margin-bottom: 50px;
}
header h1 {
  margin-bottom: 0px;
}
header h2 {
  margin-top: 0px;
  font-style: italic;
  font-weight: normal;
}
.topics-list p{
  margin-bottom: 0;
}
.bullet-list li {
  list-style-type: circle;
}
.square-list li {
  list-style-type: square;
}
.filled-list li {
  list-style-type: disc;
}
.inner-list ul {
  padding-bottom: 25px;
  border-bottom: 3px dotted #000000;
}
.last-item ul {
  border-bottom: none;
}