.blackout {
  background-color: rgba(0, 0, 0, .65);
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1000;
}

.blackout.visible {
  display: block;
}

.modal {
  background-color: #0e516b;
  position: fixed;
  width: 350px;
  left: 50%;
  top: 50%;
  padding: 5px;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2000;
}

.modal.visible {
  opacity: 1;
  pointer-events: auto;
}

.modal-body {
  background-color: #116688;
  padding: 10px;
  text-align: center;
  border-radius: 10px; 
}

.modal-body h2 {
  margin: 10px 0;
}

.modal-close {
  background-color: #ffffff;
  color: #4C4C4C;
  width: 80px;
  border-radius: 5px; 
  cursor: pointer;
}